In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import mlxtend
from mlxtend.frequent_patterns import apriori, association_rules 

# Please specify the data path of the files you downloaded
DATA_PATH = '/Users/ellieryus/Downloads/Year4-1/Current Topic/data/'

file_name = DATA_PATH + 'FactSales.csv'
FactSales_df = pd.read_csv(file_name)
FactSales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121322 entries, 0 to 121321
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                121322 non-null  int64
 1   SalesOrderID      121322 non-null  int64
 2   DateID            121322 non-null  int64
 3   SpecialOfferID    121322 non-null  int64
 4   TerritoryID       121322 non-null  int64
 5   ProductID         121322 non-null  int64
 6   SalesOrderNumber  121322 non-null  object
 7   OrderQty          121307 non-null  float64
 8   UnitPrice         121319 non-null  float64
 9   LineTotal         121322 non-null  float64
 10  TotalDue          121322 non-null  float64
dtypes: float64(4), int64(6), object(1)
memory usage: 10.2+ MB

In [2]:
file_name2 = DATA_PATH + 'DimProduct.csv'
DimProduct_df = pd.read_csv(file_name2)
DimProduct_df.info()
type(DimProduct_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    510 non-null    int64
 1   Name         510 non-null    object
 2   Category     295 non-null    object
 3   Subcategory  295 non-null    object
 4   Color        260 non-null    object
 5   ListPrice    510 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 24.0+ KB

pandas.core.frame.DataFrame

In [3]:
file_name3 = DATA_PATH + 'DimDate.csv'
DimeDate_df = pd.read_csv(file_name3)

In [4]:
FactSales_Product = FactSales_df.merge(DimProduct_df).merge(DimeDate_df)
FactSales_Product

,ID,SalesOrderID,DateID,SpecialOfferID,TerritoryID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue,Name,Category,Subcategory,Color,ListPrice,Year,Quarter,Month,Day
0,1,43662,1,1,6,768,SO43662,2.0,419.4589,838.9178,32474.9324,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
1,33,43687,1,1,2,768,SO43687,1.0,419.4589,419.4589,1416.9322,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
2,57,43689,1,1,4,768,SO43689,2.0,419.4589,838.9178,38291.2063,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
3,97,43671,1,1,1,768,SO43671,2.0,419.4589,838.9178,9153.6054,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
4,137,43666,1,1,4,768,SO43666,2.0,419.4589,838.9178,5694.8564,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121317,121318,75124,1125,17,6,5,SO75124,2.0,62.4500,87.4300,143.8548,Saddle 1,NaN,NaN,Red,75.24,2023,4,12,10
121318,121319,75124,1125,17,6,6,SO75124,1.0,62.3500,43.6450,143.8548,Saddle 2,NaN,NaN,NaN,68.25,2023,4,12,10
121319,121320,75125,1126,17,6,7,SO75125,2.0,73.5600,102.9840,113.0249,Saddle 3,NaN,NaN,Black,80.55,2023,4,12,11
121320,121321,75126,1127,17,8,7,SO75126,2.0,73.5600,102.9840,113.0249,Saddle 3,NaN,NaN,Black,80.55,2023,4,12,12
121321,121322,75127,1128,18,4,8,SO75127,2.0,50.3500,80.5600,88.4901,Seatpost 1,NaN,NaN,Black,55.25,2023,4,12,13

In [5]:
# [FactSales_Product['SpecialOfferID'] != 1]
months_to_filter = [1,2,3,4,5,6,7,8,9,10,11,12]
FactSales_Product_filter = FactSales_Product[FactSales_Product['Month'].isin(months_to_filter)]
FactSales_Product_filter

,ID,SalesOrderID,DateID,SpecialOfferID,TerritoryID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue,Name,Category,Subcategory,Color,ListPrice,Year,Quarter,Month,Day
0,1,43662,1,1,6,768,SO43662,2.0,419.4589,838.9178,32474.9324,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
1,33,43687,1,1,2,768,SO43687,1.0,419.4589,419.4589,1416.9322,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
2,57,43689,1,1,4,768,SO43689,2.0,419.4589,838.9178,38291.2063,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
3,97,43671,1,1,1,768,SO43671,2.0,419.4589,838.9178,9153.6054,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
4,137,43666,1,1,4,768,SO43666,2.0,419.4589,838.9178,5694.8564,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121317,121318,75124,1125,17,6,5,SO75124,2.0,62.4500,87.4300,143.8548,Saddle 1,NaN,NaN,Red,75.24,2023,4,12,10
121318,121319,75124,1125,17,6,6,SO75124,1.0,62.3500,43.6450,143.8548,Saddle 2,NaN,NaN,NaN,68.25,2023,4,12,10
121319,121320,75125,1126,17,6,7,SO75125,2.0,73.5600,102.9840,113.0249,Saddle 3,NaN,NaN,Black,80.55,2023,4,12,11
121320,121321,75126,1127,17,8,7,SO75126,2.0,73.5600,102.9840,113.0249,Saddle 3,NaN,NaN,Black,80.55,2023,4,12,12
121321,121322,75127,1128,18,4,8,SO75127,2.0,50.3500,80.5600,88.4901,Seatpost 1,NaN,NaN,Black,55.25,2023,4,12,13

In [6]:
FactSales_Product_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121322 entries, 0 to 121321
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                121322 non-null  int64
 1   SalesOrderID      121322 non-null  int64
 2   DateID            121322 non-null  int64
 3   SpecialOfferID    121322 non-null  int64
 4   TerritoryID       121322 non-null  int64
 5   ProductID         121322 non-null  int64
 6   SalesOrderNumber  121322 non-null  object
 7   OrderQty          121307 non-null  float64
 8   UnitPrice         121319 non-null  float64
 9   LineTotal         121322 non-null  float64
 10  TotalDue          121322 non-null  float64
 11  Name              121322 non-null  object
 12  Category          121317 non-null  object
 13  Subcategory       121317 non-null  object
 14  Color             87176 non-null   object
 15  ListPrice         121322 non-null  float64
 16  Year              121322 non-null  int64
 17  Quarter           121322 non-null  int64
 18  Month             121322 non-null  int64
 19  Day               121322 non-null  int64
dtypes: float64(5), int64(10), object(5)
memory usage: 18.5+ MB

In [7]:
FactSales_Product_filter_dropduplicate = FactSales_Product_filter.drop_duplicates(subset=['SalesOrderID','ProductID'])
FactSales_Product_filter_dropduplicate

,ID,SalesOrderID,DateID,SpecialOfferID,TerritoryID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue,Name,Category,Subcategory,Color,ListPrice,Year,Quarter,Month,Day
0,1,43662,1,1,6,768,SO43662,2.0,419.4589,838.9178,32474.9324,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
1,33,43687,1,1,2,768,SO43687,1.0,419.4589,419.4589,1416.9322,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
2,57,43689,1,1,4,768,SO43689,2.0,419.4589,838.9178,38291.2063,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
3,97,43671,1,1,1,768,SO43671,2.0,419.4589,838.9178,9153.6054,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
4,137,43666,1,1,4,768,SO43666,2.0,419.4589,838.9178,5694.8564,"Road-650 Black, 44",Bikes,Road Bikes,Black,782.99,2011,2,5,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121317,121318,75124,1125,17,6,5,SO75124,2.0,62.4500,87.4300,143.8548,Saddle 1,NaN,NaN,Red,75.24,2023,4,12,10
121318,121319,75124,1125,17,6,6,SO75124,1.0,62.3500,43.6450,143.8548,Saddle 2,NaN,NaN,NaN,68.25,2023,4,12,10
121319,121320,75125,1126,17,6,7,SO75125,2.0,73.5600,102.9840,113.0249,Saddle 3,NaN,NaN,Black,80.55,2023,4,12,11
121320,121321,75126,1127,17,8,7,SO75126,2.0,73.5600,102.9840,113.0249,Saddle 3,NaN,NaN,Black,80.55,2023,4,12,12
121321,121322,75127,1128,18,4,8,SO75127,2.0,50.3500,80.5600,88.4901,Seatpost 1,NaN,NaN,Black,55.25,2023,4,12,13

In [8]:
table = FactSales_Product_filter_dropduplicate.groupby(['SalesOrderID']).agg({'Name': list, 'TerritoryID': np.mean})
table.head(100)

                                                           Name  TerritoryID
SalesOrderID
43659         [Long-Sleeve Logo Jersey, M, Mountain-100 Silv...          5.0
43660                      [Road-650 Red, 44, Road-450 Red, 52]          5.0
43661         [Mountain-100 Black, 38, Mountain-100 Silver, ...          6.0
43662         [Road-650 Black, 44, Road-650 Black, 58, Road-...          6.0
43663                                        [Road-650 Red, 60]          4.0
...                                                         ...          ...
43754                                        [Road-150 Red, 48]          1.0
43755                                        [Road-150 Red, 44]          4.0
43756                                      [Road-650 Black, 58]         10.0
43757                                  [Mountain-100 Black, 44]          9.0
43758                                        [Road-150 Red, 62]          4.0

[100 rows x 2 columns]

In [9]:
table['TerritoryID'] = table['TerritoryID'].astype(int)
table

                                                           Name  TerritoryID
SalesOrderID
43659         [Long-Sleeve Logo Jersey, M, Mountain-100 Silv...            5
43660                      [Road-650 Red, 44, Road-450 Red, 52]            5
43661         [Mountain-100 Black, 38, Mountain-100 Silver, ...            6
43662         [Road-650 Black, 44, Road-650 Black, 58, Road-...            6
43663                                        [Road-650 Red, 60]            4
...                                                         ...          ...
75123         [AWC Logo Cap, All-Purpose Bike Stand, Fender ...            6
75124                                      [Saddle 1, Saddle 2]            6
75125                                                [Saddle 3]            6
75126                                                [Saddle 3]            8
75127                                              [Seatpost 1]            4

[31469 rows x 2 columns]

In [10]:
table2 = table.groupby(['TerritoryID']).agg(list)
table2 = table2.reset_index()
table2

   TerritoryID                                               Name
0            1  [[Mountain-100 Black, 38, Long-Sleeve Logo Jer...
1            2  [[Road-650 Red, 44, Road-650 Black, 52, Road-4...
2            3  [[Mountain Bike Socks, L, Mountain-100 Black, ...
3            4  [[Road-650 Red, 60], [Road-650 Black, 44, ML R...
4            5  [[Long-Sleeve Logo Jersey, M, Mountain-100 Sil...
5            6  [[Mountain-100 Black, 38, Mountain-100 Silver,...
6            7  [[Mountain-100 Silver, 44], [Road-150 Red, 48]...
7            8  [[Road-150 Red, 44], [Road-150 Red, 44], [Road...
8            9  [[Mountain-100 Silver, 44], [Road-150 Red, 62]...
9           10  [[Road-650 Red, 52], [Road-150 Red, 44], [Road...

In [11]:
from mlxtend.preprocessing import TransactionEncoder

# table_Territory_1 = table2.loc[0]['ProductID']
# print(table_Territory_1)
# type(table_Territory_1)

In [12]:
# te = TransactionEncoder()
# te_ary = te.fit(table_Territory_1).transform(table_Territory_1)
# df = pd.DataFrame(te_ary, columns=te.columns_)
# df

In [13]:
from mlxtend.frequent_patterns import apriori
# result_df=apriori(df, min_support=0.1, use_colnames=True)
# result_df_sorted = result_df.sort_values(by='support', ascending=False)
# result_df_sorted.head(50)

In [14]:
for i in range(10):
    table_Territory = table2.loc[i]['Name']
    te = TransactionEncoder()

    te_ary = te.fit(table_Territory).transform(table_Territory)
    df = pd.DataFrame(te_ary, columns=te.columns_)

    result_df=apriori(df, min_support=0.1, use_colnames=True)
    print(result_df)
    result_df_sorted = result_df.sort_values(by='support', ascending=False)
    result_df_sorted['itemsets'] = result_df_sorted['itemsets'].apply(lambda x: '; '.join(list(x))).astype(str)
    result_df_sorted.to_csv('FrequentPatternTerritory'+str(i+1)+'With0.1min_supProduct.csv', index=False)

    support                  itemsets
0  0.140401      (Mountain Tire Tube)
1  0.112756     (Patch Kit/8 Patches)
2  0.101001  (Sport-100 Helmet, Blue)
3  0.156291   (Water Bottle - 30 oz.)
      support                                           itemsets
0    0.312500                                     (AWC Logo Cap)
1    0.107955                            (Bike Wash - Dissolver)
2    0.125000                                  (Classic Vest, S)
3    0.102273                    (HL Mountain Frame - Black, 42)
4    0.102273                   (HL Mountain Frame - Silver, 38)
..        ...                                                ...
776  0.116477  (Sport-100 Helmet, Blue, AWC Logo Cap, Half-Fi...
777  0.113636  (Sport-100 Helmet, Blue, AWC Logo Cap, Long-Sl...
778  0.130682  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...
779  0.116477  (Sport-100 Helmet, Blue, Sport-100 Helmet, Red...
780  0.113636  (Sport-100 Helmet, Blue, AWC Logo Cap, Long-Sl...

[781 rows x 2 columns]
      support                                           itemsets
0    0.335065                                     (AWC Logo Cap)
1    0.124675                                  (Classic Vest, S)
2    0.124675                    (HL Mountain Frame - Black, 42)
3    0.116883                   (HL Mountain Frame - Silver, 38)
4    0.137662                            (Half-Finger Gloves, M)
..        ...                                                ...
349  0.103896  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...
350  0.101299  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...
351  0.103896  (Sport-100 Helmet, Blue, Sport-100 Helmet, Red...
352  0.106494  (Sport-100 Helmet, Blue, Sport-100 Helmet, Red...
353  0.103896  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...

[354 rows x 2 columns]
    support                   itemsets
0  0.106667             (AWC Logo Cap)
1  0.108594       (Mountain Tire Tube)
2  0.108434      (Patch Kit/8 Patches)
3  0.101365  (Sport-100 Helmet, Black)
4  0.161767    (Water Bottle - 30 oz.)
      support                                           itemsets
0    0.255144                                     (AWC Logo Cap)
1    0.113169                   (HL Mountain Frame - Silver, 38)
2    0.104938                            (Half-Finger Gloves, M)
3    0.121399                        (LL Road Frame - Black, 52)
4    0.244856                       (Long-Sleeve Logo Jersey, L)
..        ...                                                ...
151  0.106996  (Sport-100 Helmet, Blue, Sport-100 Helmet, Red...
152  0.102881  (AWC Logo Cap, Sport-100 Helmet, Red, Long-Sle...
153  0.115226  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...
154  0.104938  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...
155  0.102881  (Sport-100 Helmet, Blue, AWC Logo Cap, Sport-1...

[156 rows x 2 columns]
    support                   itemsets
0  0.119440             (AWC Logo Cap)
1  0.159499       (Mountain Tire Tube)
2  0.132465      (Patch Kit/8 Patches)
3  0.113787  (Sport-100 Helmet, Black)
4  0.109363   (Sport-100 Helmet, Blue)
5  0.112558    (Sport-100 Helmet, Red)
6  0.168592    (Water Bottle - 30 oz.)
    support                  itemsets
0  0.110778            (AWC Logo Cap)
1  0.112650     (Patch Kit/8 Patches)
2  0.109656          (Road Tire Tube)
3  0.101422  (Sport-100 Helmet, Blue)
4  0.108533   (Sport-100 Helmet, Red)
5  0.104790       (Touring Tire Tube)
6  0.141841   (Water Bottle - 30 oz.)
    support                 itemsets
0  0.120046           (AWC Logo Cap)
1  0.105564         (Road Tire Tube)
2  0.106707  (Sport-100 Helmet, Red)
3  0.163110  (Water Bottle - 30 oz.)
    support                 itemsets
0  0.120123  (Water Bottle - 30 oz.)
    support                  itemsets
0  0.120845            (AWC Logo Cap)
1  0.106244     (Patch Kit/8 Patches)
2  0.101274          (Road Tire Tube)
3  0.102206  (Sport-100 Helmet, Blue)
4  0.104380   (Sport-100 Helmet, Red)
5  0.163715   (Water Bottle - 30 oz.)