In [34]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

DATA_PATH = '/Users/ellieryus/Downloads/Year4-1/Current Topic/data/'

file_name = DATA_PATH + 'FactSales.csv'

FactSales_df = pd.read_csv(file_name)
FactSales_df.head()

,ID,SalesOrderID,DateID,SpecialOfferID,TerritoryID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue
0,1,43662,1,1,6,768,SO43662,2.0,419.4589,838.9178,32474.9324
1,2,43662,1,1,6,765,SO43662,3.0,419.4589,1258.3767,32474.9324
2,3,43667,1,1,3,710,SO43667,3.0,5.7000,17.1000,6876.3649
3,4,43667,1,1,3,775,SO43667,1.0,2024.9940,2024.9940,6876.3649
4,5,43684,1,1,5,762,SO43684,2.0,419.4589,838.9178,6301.6258

In [35]:
file_name2 = DATA_PATH + 'DimTerritory.csv'

DimTerritory_df = pd.read_csv(file_name2)
DimTerritory_df.head()

,TerritoryID,Name,Country,CountryGroup,SalesYTD,SalesLastYear
0,1,Northwest,United States,North America,7.887187e+06,3298694.494
1,2,Northeast,United States,North America,2.402177e+06,3607148.937
2,3,Central,United States,North America,3.072175e+06,3205014.077
3,4,Southwest,United States,North America,1.051085e+07,5366575.710
4,5,Southeast,United States,North America,2.538667e+06,3925071.432

In [36]:
table_FactSales_Territory = pd.merge(DimTerritory_df, FactSales_df)
table_FactSales_Territory.head()

,TerritoryID,Name,Country,CountryGroup,SalesYTD,SalesLastYear,ID,SalesOrderID,DateID,SpecialOfferID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue
0,1,Northwest,United States,North America,7887186.788,3298694.494,6,43664,1,1,714,SO43664,1.0,28.8404,28.8404,27510.4109
1,1,Northwest,United States,North America,7887186.788,3298694.494,13,43686,1,1,762,SO43686,1.0,419.4589,419.4589,3899.6756
2,1,Northwest,United States,North America,7887186.788,3298694.494,14,43664,1,1,771,SO43664,3.0,2039.9940,6119.9820,27510.4109
3,1,Northwest,United States,North America,7887186.788,3298694.494,18,43664,1,1,716,SO43664,1.0,28.8404,28.8404,27510.4109
4,1,Northwest,United States,North America,7887186.788,3298694.494,20,43686,1,1,758,SO43686,3.0,874.7940,2624.3820,3899.6756

In [37]:
table_FactSales_Territory_gb = table_FactSales_Territory.groupby('TerritoryID', as_index=False)
type(table_FactSales_Territory_gb)
table_FactSales_Territory_df = table_FactSales_Territory_gb.describe()
table_FactSales_Territory_df

  TerritoryID SalesYTD                                            \
                 count          mean           std           min
0           1  16865.0  7.887187e+06  2.414060e-06  7.887187e+06
1           2   5836.0  2.402177e+06  2.836120e-07  2.402177e+06
2           3   5832.0  3.072175e+06  2.887348e-08  3.072175e+06
3           4  25645.0  1.051085e+07  3.332337e-06  1.051085e+07
4           5   5976.0  2.538667e+06  2.947883e-07  2.538667e+06
5           6  19067.0  6.771829e+06  4.395958e-07  6.771829e+06
6           7   9088.0  4.772398e+06  7.311284e-07  4.772398e+06
7           8   7529.0  3.805202e+06  3.571859e-07  3.805202e+06
8           9  15058.0  5.977815e+06  9.807152e-07  5.977815e+06
9          10  10426.0  5.012905e+06  6.556825e-07  5.012905e+06

                                                          SalesLastYear  ...  \
            25%           50%           75%           max         count  ...
0  7.887187e+06  7.887187e+06  7.887187e+06  7.887187e+06       16865.0  ...
1  2.402177e+06  2.402177e+06  2.402177e+06  2.402177e+06        5836.0  ...
2  3.072175e+06  3.072175e+06  3.072175e+06  3.072175e+06        5832.0  ...
3  1.051085e+07  1.051085e+07  1.051085e+07  1.051085e+07       25645.0  ...
4  2.538667e+06  2.538667e+06  2.538667e+06  2.538667e+06        5976.0  ...
5  6.771829e+06  6.771829e+06  6.771829e+06  6.771829e+06       19067.0  ...
6  4.772398e+06  4.772398e+06  4.772398e+06  4.772398e+06        9088.0  ...
7  3.805202e+06  3.805202e+06  3.805202e+06  3.805202e+06        7529.0  ...
8  5.977815e+06  5.977815e+06  5.977815e+06  5.977815e+06       15058.0  ...
9  5.012905e+06  5.012905e+06  5.012905e+06  5.012905e+06       10426.0  ...

  LineTotal               TotalDue                                         \
        75%           max    count          mean           std        min
0  1120.490  21101.787476  16865.0  24382.287289  32895.260899     2.5305
1  1430.442  14880.002088   5836.0  43477.131120  29672.554793 -3387.7351
2  1619.970  27055.760424   5832.0  45113.022265  30471.427644     8.0444
3  1188.216  27893.619000  25645.0  27153.572029  35110.003801 -8563.4522
4  1466.010  24938.476108   5976.0  37841.017711  27743.490705     2.5305
5   890.820  23020.131792  19067.0  27632.684663  32685.260604     2.5305
6   923.388  23667.854925   9088.0  21804.389070  35669.446506     4.4090
7   769.490  19930.825200   7529.0  12306.858636  24591.171273     4.4090
8  1120.490  17616.370044  15058.0   4686.805961  11265.121544     2.5305
9   890.820  22422.178350  10426.0  17955.919973  28851.615149     3.0365


          25%         50%         75%          max
0    109.9144   2648.6408  46963.0779  126852.1615
1  23095.3463  39373.9752  56379.7647  165028.7482
2  27146.0038  39877.3389  61020.2059  145454.3660
3    651.9058   3953.9884  47038.3842  187487.8250
4  20259.3929  34885.0758  49318.9998  142312.2199
5    106.1574  14239.5899  46817.7044  170512.6689
6    146.9319   2591.1808  35532.3404  166537.0808
7    132.5558   1933.7058   2810.5012  117506.1173
8     90.0133   1297.8004   2699.9018   71729.8592
9    165.7279   2561.3016  33956.9704  130249.2557

[10 rows x 89 columns]

In [38]:
file_name3 = DATA_PATH + 'DimDate.csv'

DimDate_df = pd.read_csv(file_name3)
DimDate_df

      DateID  Year  Quarter  Month  Day
0          1  2011        2      5   31
1          2  2011        2      6    1
2          3  2011        2      6    2
3          4  2011        2      6    3
4          5  2011        2      6    4
...      ...   ...      ...    ...  ...
1123    1124  2014        2      6   30
1124    1125  2023        4     12   10
1125    1126  2023        4     12   11
1126    1127  2023        4     12   12
1127    1128  2023        4     12   13

[1128 rows x 5 columns]

In [39]:
table_Territory_Date = pd.merge(DimDate_df, table_FactSales_Territory)
table_Territory_Date

,DateID,Year,Quarter,Month,Day,TerritoryID,Name,Country,CountryGroup,SalesYTD,SalesLastYear,ID,SalesOrderID,SpecialOfferID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue
0,1,2011,2,5,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,6,43664,1,714,SO43664,1.0,28.8404,28.8404,27510.4109
1,1,2011,2,5,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,13,43686,1,762,SO43686,1.0,419.4589,419.4589,3899.6756
2,1,2011,2,5,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,14,43664,1,771,SO43664,3.0,2039.9940,6119.9820,27510.4109
3,1,2011,2,5,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,18,43664,1,716,SO43664,1.0,28.8404,28.8404,27510.4109
4,1,2011,2,5,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,20,43686,1,758,SO43686,3.0,874.7940,2624.3820,3899.6756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121317,1125,2023,4,12,10,6,Canada,Canada,North America,6.771829e+06,5693988.860,121318,75124,17,5,SO75124,2.0,62.4500,87.4300,143.8548
121318,1125,2023,4,12,10,6,Canada,Canada,North America,6.771829e+06,5693988.860,121319,75124,17,6,SO75124,1.0,62.3500,43.6450,143.8548
121319,1126,2023,4,12,11,6,Canada,Canada,North America,6.771829e+06,5693988.860,121320,75125,17,7,SO75125,2.0,73.5600,102.9840,113.0249
121320,1127,2023,4,12,12,8,Germany,Germany,Europe,3.805202e+06,1307949.792,121321,75126,17,7,SO75126,2.0,73.5600,102.9840,113.0249
121321,1128,2023,4,12,13,4,Southwest,United States,North America,1.051085e+07,5366575.710,121322,75127,18,8,SO75127,2.0,50.3500,80.5600,88.4901

In [40]:
months_to_filter = [6, 7, 8]
table_Territory_Date_filter = table_Territory_Date[table_Territory_Date['Month'].isin(months_to_filter)]
table_Territory_Date_filter

,DateID,Year,Quarter,Month,Day,TerritoryID,Name,Country,CountryGroup,SalesYTD,SalesLastYear,ID,SalesOrderID,SpecialOfferID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue
321,2,2011,2,6,1,4,Southwest,United States,North America,1.051085e+07,5366575.710,323,43702,1,750,SO43702,1.0,3578.27,3578.27,3953.9884
322,2,2011,2,6,1,9,Australia,Australia,Pacific,5.977815e+06,2278548.978,322,43703,1,749,SO43703,1.0,3578.27,3578.27,3953.9884
323,2,2011,2,6,1,9,Australia,Australia,Pacific,5.977815e+06,2278548.978,324,43704,1,778,SO43704,1.0,3374.99,3374.99,3729.3640
324,2,2011,2,6,1,9,Australia,Australia,Pacific,5.977815e+06,2278548.978,325,43705,1,771,SO43705,1.0,3399.99,3399.99,3756.9890
325,3,2011,2,6,2,4,Southwest,United States,North America,1.051085e+07,5366575.710,328,43707,1,751,SO43707,1.0,3578.27,3578.27,3953.9884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121312,1124,2014,2,6,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,121265,75111,1,712,SO75111,1.0,8.99,8.99,54.1119
121313,1124,2014,2,6,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,121282,75116,1,923,SO75116,1.0,4.99,4.99,5.5140
121314,1124,2014,2,6,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,121288,75117,1,860,SO75117,1.0,24.49,24.49,32.5754
121315,1124,2014,2,6,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,121290,75111,1,921,SO75111,1.0,4.99,4.99,54.1119
121316,1124,2014,2,6,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,121306,75113,1,711,SO75113,1.0,34.99,34.99,127.0308

In [41]:
table_Territory_Date_filter = table_Territory_Date_filter[table_Territory_Date_filter.SpecialOfferID != 1]
table_Territory_Date_filter

,DateID,Year,Quarter,Month,Day,TerritoryID,Name,Country,CountryGroup,SalesYTD,SalesLastYear,ID,SalesOrderID,SpecialOfferID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue
696,32,2011,3,7,1,3,Central,United States,North America,3.072175e+06,3205014.077,660,43881,3,709,SO43881,21.0,5.2250,104.238750,43706.8175
760,32,2011,3,7,1,3,Central,United States,North America,3.072175e+06,3205014.077,1218,43884,2,772,SO43884,14.0,1971.9942,27055.760424,130416.4829
920,32,2011,3,7,1,4,Southwest,United States,North America,1.051085e+07,5366575.710,1198,43906,4,709,SO43906,26.0,4.7500,111.150000,37121.6273
947,32,2011,3,7,1,5,Southeast,United States,North America,2.538667e+06,3925071.432,555,43875,2,775,SO43875,13.0,1957.4942,24938.476108,137343.2877
1049,32,2011,3,7,1,5,Southeast,United States,North America,2.538667e+06,3925071.432,1196,43875,2,773,SO43875,12.0,1971.9942,23190.651792,137343.2877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56326,820,2013,3,8,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,56295,55323,2,707,SO55323,14.0,20.2942,278.436424,43348.3273
56327,820,2013,3,8,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,56297,55323,2,876,SO55323,11.0,69.6000,750.288000,43348.3273
56345,821,2013,3,8,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,56376,55442,2,781,SO55442,1.0,2319.9900,2319.990000,2563.5890
56446,821,2013,3,8,31,9,Australia,Australia,Pacific,5.977815e+06,2278548.978,56389,55386,2,873,SO55386,1.0,2.2900,2.290000,44.4431
56474,821,2013,3,8,31,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,56381,55418,2,873,SO55418,1.0,2.2900,2.290000,8.0444

In [42]:
table_Territory_Date_filter_duplicate = table_Territory_Date_filter.drop_duplicates(subset=['SalesOrderID'])
table_Territory_Date_filter_duplicate

,DateID,Year,Quarter,Month,Day,TerritoryID,Name,Country,CountryGroup,SalesYTD,SalesLastYear,ID,SalesOrderID,SpecialOfferID,ProductID,SalesOrderNumber,OrderQty,UnitPrice,LineTotal,TotalDue
696,32,2011,3,7,1,3,Central,United States,North America,3.072175e+06,3205014.077,660,43881,3,709,SO43881,21.0,5.2250,104.238750,43706.8175
760,32,2011,3,7,1,3,Central,United States,North America,3.072175e+06,3205014.077,1218,43884,2,772,SO43884,14.0,1971.9942,27055.760424,130416.4829
920,32,2011,3,7,1,4,Southwest,United States,North America,1.051085e+07,5366575.710,1198,43906,4,709,SO43906,26.0,4.7500,111.150000,37121.6273
947,32,2011,3,7,1,5,Southeast,United States,North America,2.538667e+06,3925071.432,555,43875,2,775,SO43875,13.0,1957.4942,24938.476108,137343.2877
1210,32,2011,3,7,1,6,Canada,Canada,North America,6.771829e+06,5693988.860,1010,43898,2,715,SO43898,11.0,27.8790,300.535620,57391.4284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56232,820,2013,3,8,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,55428,55268,3,877,SO55268,19.0,4.3725,78.923625,44837.5117
56245,820,2013,3,8,30,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,55548,55323,2,859,SO55323,14.0,14.2042,194.881624,43348.3273
56345,821,2013,3,8,31,1,Northwest,United States,North America,7.887187e+06,3298694.494,56376,55442,2,781,SO55442,1.0,2319.9900,2319.990000,2563.5890
56446,821,2013,3,8,31,9,Australia,Australia,Pacific,5.977815e+06,2278548.978,56389,55386,2,873,SO55386,1.0,2.2900,2.290000,44.4431
56474,821,2013,3,8,31,10,United Kingdom,United Kingdom,Europe,5.012905e+06,1635823.397,56381,55418,2,873,SO55418,1.0,2.2900,2.290000,8.0444

In [43]:
table_Territory_Date_gb = table_Territory_Date_filter_duplicate.groupby('TerritoryID', as_index=False).sum(['TotalDue', 'OrderQty'])

table_Territory_Date_gb

,TerritoryID,DateID,Year,Quarter,Month,Day,SalesYTD,SalesLastYear,ID,SalesOrderID,SpecialOfferID,ProductID,OrderQty,UnitPrice,LineTotal,TotalDue
0,1,55074,171075,220,576,2062,6.704109e+08,2.803890e+08,3011248,4335069,404,72108,520.0,62965.8356,163267.359105,2.776645e+06
1,2,20558,64404,80,214,944,7.686966e+07,1.154288e+08,1104447,1628307,171,27221,421.0,5593.0046,48346.168693,1.421145e+06
2,3,14424,50311,65,170,700,7.680438e+07,8.012535e+07,764524,1252662,133,20595,310.0,5174.5351,41620.584750,1.299270e+06
3,4,103943,311968,420,1088,3313,1.629182e+09,8.318192e+08,5830134,7969426,606,130893,825.0,127739.4697,217532.153017,3.785473e+06
4,5,24122,82511,106,282,1168,1.040854e+08,1.609279e+08,1304545,2061774,213,34603,430.0,10554.8456,59745.506116,1.442244e+06
5,6,81060,249568,343,873,2816,8.397068e+08,7.060546e+08,4553536,6352832,458,104364,814.0,57080.7824,107585.840274,3.145138e+06
6,7,51316,144923,194,503,1422,3.436127e+08,1.725509e+08,2903532,3739959,320,61973,321.0,56702.9523,115208.422376,1.496278e+06
7,8,34078,94604,125,327,1006,1.788445e+08,6.147364e+07,1965319,2457342,224,40405,154.0,50288.6072,54784.649585,6.382855e+05
8,9,76882,223417,299,784,1872,6.635375e+08,2.529189e+08,4351919,5741314,382,93789,143.0,146363.1338,155950.452074,5.305709e+05
9,10,55675,161021,219,570,1559,4.010324e+08,1.308659e+08,3185370,4149135,270,68098,290.0,70728.8538,108570.227882,1.318068e+06

In [44]:
table_df = pd.DataFrame()
table_df['TerritoryID'] = table_Territory_Date_gb['TerritoryID']
table_df['State'] = ['Oregon, Washington, Idaho, Montana, Wyoming', 
                    'Maine, New York, New Jersey, Vermont, Massachusetts, Rhode Island, Connecticut, New Hampshire, Pennsylvania', 
                    'Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin', 
                    'Arizona, New Mexico, Nevada, Utah', 
                    'Alabama, Arkansas, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, South Carolina, Tennessee, Virginia, West Virginia', 
                    'Canada', 
                    'France', 
                    'Germany', 
                    'Australia', 
                    'United Kingdom']
table_df['TotalOrderQty'] = table_Territory_Date_gb['OrderQty']
table_df['TotalDue'] = table_Territory_Date_gb['TotalDue']
table_df

table_df = table_df.merge(table_Territory_Date_filter[['TerritoryID', 'Name']], on='TerritoryID', how='left')

table_df_grouped = table_df.groupby(['TerritoryID', 'Name', 'State']). agg({'TotalOrderQty': 'sum', 'TotalDue': 'sum'})

table_df_grouped

,,,TotalOrderQty,TotalDue
TerritoryID,Name,State,,
1,Northwest,"Oregon, Washington, Idaho, Montana, Wyoming",120640.0,6.441817e+08
2,Northeast,"Maine, New York, New Jersey, Vermont, Massachusetts, Rhode Island, Connecticut, New Hampshire, Pennsylvania",45889.0,1.549048e+08
3,Central,"Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin",22630.0,9.484668e+07
4,Southwest,"Arizona, New Mexico, Nevada, Utah",250800.0,1.150784e+09
5,Southeast,"Alabama, Arkansas, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, South Carolina, Tennessee, Virginia, West Virginia",55900.0,1.874917e+08
6,Canada,Canada,254782.0,9.844283e+08
7,France,France,59385.0,2.768114e+08
8,Germany,Germany,20790.0,8.616855e+07
9,Australia,Australia,29172.0,1.082365e+08
10,United Kingdom,United Kingdom,50750.0,2.306619e+08

In [45]:
table_df_grouped_reset = table_df_grouped.reset_index()

table_df_grouped_reset.to_csv('SalesOfEachTerritorySummer.csv', index=False)